.header {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 4rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--color-bg-variant);
}

.header__logo {
  font-size: 2.5rem;
}
.header__logo__item {
  color: var(--color-white);
}
.header__logo__item:hover {
  color: var(--color-primary-variant);
}

.navigation__list {
  display: flex;

  gap: 1rem;
  font-size: 1.4rem;
  list-style: none;
}

.closeBtn {
  border: none;
  background: none;
  text-align: right;
  font-size: 2rem;
  margin: 1.2rem 0.6rem;
  color: white;
  display: none;
  cursor: pointer;
}

.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    height: 5rem;
    margin: 0 auto;
    padding: 0.8rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1011111;
    background: #4286f4;
    opacity: 0.95;
    margin-bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .header__container {
    border: none;
    padding: 0;
  }

  .header__logo__item {
    font-size: 2rem;
  }

  .navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    z-index: 100000;
    opacity: 0.95;
    background: var(--color-bg-variant);
    transform: translateX(100vw);
    transition: 0.6s ease-in-out;
  }

  .navActive {
    transform: none;
  }

  .closeBtn {
    display: block;
  }

  .navigation__list {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: right;
  }

  .navigation__list a {
    color: white;
  }

  .navigation__list a:hover {
    color: var(--color-primary-variant);
  }

  .hamburger {
    display: block;
    transition: 0.3s ease-in-out;
  }

  .hamburgerNone {
    visibility: hidden;
  }
}
