.leftArrow {
  position: absolute;
  left: 0;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  background: var(--color-primary);
  border-radius: 0.5rem;

  /* "absolute arrow-btn left-0 text-center py-3 cursor-pointer bg-pink-600 rounded-full"> */
}

.itemClass {
  padding-right: 1rem;
}

.carousel {
  margin-bottom: 2rem;
}

.loader {
  height: 18rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .itemClass {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
  }
}

/* ============Media queries small devices=============== */

@media screen and (max-width: 600px) {
}
