.categories__widget {
  background: var(--color-white);
  color: black;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 0.5rem;
}

.categories__widget__title {
  border-bottom: 1px solid rgb(175, 173, 173);
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
}

.content__title {
  color: black;
  transition: var(--transition);
  font-size: 1.1rem;
}

.content__title:hover {
  color: var(--color-primary);
}

.categories__widget__content {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
