@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

:root {
  --color-bg-primary: #362fd9;
  --color-bg-variant: #3c84ab;
  --color-primary: #85cdfd;
  --color-primary-variant: #defcf9;
  --color-white: #fff;
  --color-light: rgba(112, 111, 111, 0.75);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-mdlg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  color: var(--color-white);
  font-display: swap;

  font-family: "Poppins", sans-serif;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

/* ===========================General Styles================================== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  text-decoration: none;
}

a:hover {
  color: var(--color-white);
}

/* ============Media queries medium-lg devices=============== */

@media screen and (max-width: 1600px) {
  .container {
    width: var(--container-width-mdlg);
  }
}

/* ============Media queries medium devices=============== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
}

/* ============Media queries small devices=============== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-md);
  }
}
